.authform
	%h3= @employee.name

	%p
		%b Name:
		= @employee.name
		
	= link_to t(:edit), edit_employee_path(@employee), class: 'btn btn-primary'
	= link_to t(:back), employees_path, class: 'btn btn-default btn-raised'
