:css
	.employee { cursor: pointer;}
		
.container.well
	.row
		.col-sm-12
			%h3 Velkommen
			%p 
				klokken er nu
				%span.time
				\- klik på dit navn for at andre kan se, at du er kommet
	.row
		.col-xs-2
			%p senest
			- @employees.each do |employee|
				%p{ class: 'employee', id: "employee_id_time_#{employee.id}" }
					= employee.last_seen

		.col-xs-10
			%p bruger
			- @employees.each do |employee|
				%p{ class: 'employee', id: "employee_id_#{employee.id}" }
					= employee.name

	:coffeescript
	
		#
		# 3..padLeft() => '03' 
		# 3..padLeft(100,'-') => '--3' 
		Number.prototype.padLeft = (base,chr) ->
			len = (String(base || 10).length - String(this).length)+1
			if len > 0
				return new Array(len).join(chr || '0')+this 
			else
				return this
				
		timeIsNow = () ->
			d = new Date
			$('span.time').html d.getHours().padLeft() + ':' + d.getMinutes().padLeft()
			setTimeout( timeIsNow, 750)
		
		timeIsNow()
		
		
		$('.employee').on "click", (e) ->
			employee_id = e.target.id.replace /.*\_/, ''
			url = 'employees/' + employee_id + '/last_seen?at='
			time_id = 'p#employee_id_time_' + employee_id
			d = new Date
			# dformat = [(d.getMonth()+1).padLeft(), d.getDate().padLeft(), d.getFullYear()].join('/') +' ' + [d.getHours().padLeft(), d.getMinutes().padLeft(), d.getSeconds().padLeft()].join(':') #=> dformat => '05/17/2012 10:52:21' 
			ddate = ([d.getDate().padLeft(), (d.getMonth()+1).padLeft(), d.getFullYear()].join('/'))
			dtime = ([d.getHours().padLeft(), d.getMinutes().padLeft()].join(':'))
			$(time_id).html('<span title="'+ddate+'">' + dtime + '</span>')
			url = window.location.href + url + ddate + ' ' + dtime
			jqhxr = $.get url
			.done ->
				alert 'Din ankomst er blevet registreret!'
			.fail ->
				alert 'Der er ingen forbindelse til serveren - kontakt ALCO på tlf 9791 1470! Din ankomst er desværre ikke blevet registreret :('
			#.always ->
			#	alert 'lille fisk'
