:css
	.employee { cursor: pointer;}
		
.container
	.row.well
		.col-sm-12
			%h3 Velkommen
			%p 
				klokken er nu
				%span.time
				\- klik på dit navn for at andre kan se, at du er kommet
	.row
		.col-xs-2
			%p senest
			- @employees.each do |employee|
				%p{ class: 'employee', id: "employee_id_time_#{employee.id}" }
					= employee.last_seen

		.col-xs-10
			%p bruger
			- @employees.each do |employee|
				%p{ class: 'employee', id: "employee_id_#{employee.id}" }
					= employee.name

:coffeescript

	$('.container').on "click", (e) ->
		elem = $(e.target)[0]
		if $(elem).hasClass('employee')
			employee_id = elem.id.replace /.*\_/, ''
			url = 'employees/' + employee_id + '/last_seen?at='
			time_id = 'p#employee_id_time_' + employee_id
			d = new Date
			# dformat = [(d.getMonth()+1).padLeft(), d.getDate().padLeft(), d.getFullYear()].join('/') +' ' + [d.getHours().padLeft(), d.getMinutes().padLeft(), d.getSeconds().padLeft()].join(':') #=> dformat => '05/17/2012 10:52:21'
			ddate = ([d.getDate().padLeft(), (d.getMonth()+1).padLeft(), d.getFullYear()].join('/'))
			dtime = ([d.getHours().padLeft(), d.getMinutes().padLeft()].join(':'))
			$(time_id).html('<span title="'+ddate+'">' + dtime + '</span>')
			url = window.location.href + url + ddate + ' ' + dtime
			jqhxr = $.get url
			.done ->
			  swal 'Hurrahh!', 'Din ankomst er blevet registreret!', 'success'
			.fail ->
			  swal '#€%&%/§$', 'Der er ingen forbindelse til serveren - kontakt ALCO på tlf 9791 1470! Din ankomst er desværre ikke blevet registreret :(', 'error'
			# .always ->
			# 	alert 'lille fisk'
