


//
// header-10
//
.header-10 {
  z-index: 100;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  height: 80px;
  background: #233240;
  color: white;
}
.header-10 {
  height: 0;
}

.header-10 .navbar {
  position: absolute;
  z-index: 2;
  top: 0;
  margin: 0;
}
.header-10 .navbar.navbar-fixed-top {
  position: fixed;
  margin: 0 auto;
  top: 0 !important;
}
.header-10 .navbar .navbar-form,
.header-10 .navbar .navbar-search {
  margin: 0;
  padding: 20px 0 19px 60px;
}
.header-10 .navbar .btn,
.header-10 .navbar .btn-group {
  margin-top: -1px;
}
.header-10 .navbar .btn {
  padding-left: 26px;
  padding-right: 26px;
}
.header-10 .navbar .btn.btn-primary {
  font-size: 15px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 500;
}
.header-10 .navbar .navbar-inner {
  background: none;
}
.header-10 .navbar .brand {
  padding-left: 0;
  padding-top: 25px;
  font-size: 25px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
}
.header-10 .navbar .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
.header-10 .navbar .nav > li {
  margin-left: 30px;
}
.header-10 .navbar .nav > li:first-child {
  margin-left: 0;
}
.header-10 .navbar .nav > li > a {
  padding: 29px 0 27px;
  font-size: 17px;
  font-weight: normal;
  color: #7f8c8d;
  font-weight: 600;
  color: #ffffff;
}
.header-10 .navbar .nav > li > a:hover,
.header-10 .navbar .nav > li > a:focus,
.header-10 .navbar .nav > li > a.active {
  color: #bdc3c7;
}
.header-10 .navbar .nav > li.active > a {
  color: #bdc3c7;
}
.header-10 .navbar .nav > li.active > a:hover,
.header-10 .navbar .nav > li.active > a:focus,
.header-10 .navbar .nav > li.active > a.active {
  color: #bdc3c7;
}
.header-10 .navbar .btn-navbar {
  margin: 27px 0 17px;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 0;
  background: none!important;
  color: white;
}
.header-10 .navbar .btn-navbar:hover,
.header-10 .navbar .btn-navbar:focus {
  color: #bdc3c7;
}
.header-10 .navbar .btn-navbar:active,
.header-10 .navbar .btn-navbar.active {
  color: #869198;
}
.header-10 .navbar .brand {
  font-weight: 700;
  letter-spacing: -1px;
}
.header-10 .navbar .nav > li {
  margin-left: 45px;
}
.header-10 .navbar .nav > li > a {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 24px;
}

//
// header-10-sub
//
.header-10-sub {
  position: relative;
  z-index: 50;
  height: 800px;
  color: white;
  text-align: center;
}
.header-10-sub.v-center,
.header-10-sub .v-center {
  display: table;
  width: 100%;
}
.header-10-sub.v-center > div,
.header-10-sub .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
.header-10-sub .hero-unit {
  padding: 250px 0px 0px 0px;
  margin: 0;
  background-color: transparent;
}
.header-10-sub .hero-unit h1 {
  margin: 0 0 30px;
  font-size: 45px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.header-10-sub .hero-unit p {
  font-size: 25px;
  font-weight: normal;
  color: #bdc3c7;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 37.5px;
}
.header-10-sub .hero-unit.hero-unit-bordered h1 {
  font-size: 46px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 500;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 8px solid white;
  display: inline-block;
  margin: 0;
  padding: 30px 40px;
}
.header-10-sub .control-btn {
  width: 53px;
  height: 53px;
  line-height: 53px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  font-size: 19px;
  font-weight: normal;
  color: #7f8c8d;
  color: #ffffff;
  background: #121518;
  opacity: 0.8;
  filter: alpha(opacity=80);
  position: absolute;
  left: 50%;
  bottom: 90px;
  margin-left: -26.5px;
}
.header-10-sub .control-btn:hover,
.header-10-sub .control-btn:focus,
.header-10-sub .control-btn.active {
  color: #ffffff;
}
.header-10-sub .control-btn:hover,
.header-10-sub .control-btn:focus,
.header-10-sub .control-btn:active,
.header-10-sub .control-btn.active {
  opacity: 1;
  filter: alpha(opacity=100);
}
.header-10-sub .container {
  margin-top: 140px;
  margin-bottom: 180px;
}
.header-10-sub .hero-unit h1 {
  font-size: 50px;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: -2px;
  margin-bottom: 35px;
}
.header-10-sub .hero-unit p {
  font-size: 23px;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 33px;
  font-weight: 300;
  color: #fff;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.header-10-sub a {
  text-decoration: underline;
  color: #bdc3c7;
}
.header-10-sub a:hover,
.header-10-sub a:focus,
.header-10-sub a.active {
  color: #7f8c8d;
}
.header-10-sub .background {
  background-image: asset_url("scout1.jpg");
  opacity: 1;
  filter: alpha(opacity=100);
}
