
//
// Content 7 stylesheet  
//
.content-7 {
  position: relative;
  text-align: center;
}
.content-7 h3 {
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  color: #2c3e50;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 80px;
  line-height: 42px;
  font-weight: 800;
  letter-spacing: -1px;
}
.content-7.v-center,
.content-7 .v-center {
  display: table;
  width: 100%;
}
.content-7.v-center > div,
.content-7 .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
.content-7 .row {
  text-align: left;
}
.content-7 h6 {
  font-size: 18px;
  font-weight: normal;
  color: #e74c3c;
  font-weight: 500;
  margin-top: 60px;
  text-transform: none;
}
.content-7 h6:first-child {
  margin-top: auto;
}
.content-7 .row > .span3:first-child {
  font-size: 22px;
  font-weight: normal;
  color: #7f8c8d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 32px;
  font-weight: 300;
}
.content-7 .screen-wrapper {
  position: relative;
  height: 437px;
}
.content-7 .screen-wrapper .screen {
  position: absolute;
  left: 50%;
  margin-left: -151px;
  overflow: hidden;
}
.content-7 .screen-wrapper .screen img {
  position: relative;
  max-width: none;
}
.content-7 .screen-wrapper .screen img:first-child {
  position: absolute;
  left: 0;
  top: 0;
  max-height: 100%;
}

.content-7 a {
  color: #27ae60;
}
.content-7 a:hover,
.content-7 a:focus,
.content-7 a.active {
  color: #2ecc71;
}
.content-7 .screen-wrapper-custom {
  margin: 0 auto;
  width: 311px;
  height: 642px;
  padding: 90px 23px 90px 25px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  //  background: url("../img/iphone.png") no-repeat;
}

.content-7 h3 {
  font-size: 50px;
  font-weight: normal;
  color: #34495e;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -3px;
  margin-bottom: 95px;
}
.content-7 h6 {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #34495e;
  line-height: 25px;
  margin-top: 38px;
}
.content-7 .screen-wrapper-custom .screen-custom {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.content-7 .screen-wrapper-custom .screen-custom img {
  position: absolute;
  width: 100%;
}
.content-7 .row > .span3:first-child {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.content-7 .row > .span3:first-child a {
  font-weight: 600;
}
.content-7 .info {
  line-height: 24px;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #95a5a6;
}
.content-7 {
  padding-top: 180px;
  padding-bottom: 190px;
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
}


//
// content-8
//
.content-8 {
  padding-top: 225px;
  margin-top: -223px;
  padding-bottom: 170px;
}

.content-8.learning-process,
.content-8.learning-cook {
  margin-top: 0;
}
.content-8 h3 {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  letter-spacing: -1px;
  margin-bottom: 27px;
}
.content-8 p {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 30px;
}
.content-8 {
  position: relative;
  text-align: center;
}
.content-8 h3 {
  text-align: center;
  font-size: 30px;
  font-weight: normal;
  color: #34495e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 70px 0 35px;
}
.content-8 p {
  font-size: 18px;
  font-weight: normal;
  color: #7f8c8d;
  margin-bottom: 43px;
}
.content-8 .btn.btn-clear {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: none;
  border: 2px solid #e74c3c;
  font-size: 14px;
  font-weight: normal;
  color: #7f8c8d;
  font-weight: 500;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 12px 28px 12px;
  color: #e74c3c;
}
.content-8 .btn.btn-clear:hover,
.content-8 .btn.btn-clear:focus {
  background: #e74c3c;
  color: #fff;
}
.content-8 .btn.btn-clear:active,
.content-8 .btn.btn-clear.active {
  border-color: #c44133;
  background: #c44133;
  color: rgba(255, 255, 255, 0.75);
}
.content-8.v-center,
.content-8 .v-center {
  display: table;
  width: 100%;
}
.content-8.v-center > div,
.content-8 .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}

//
// content-13
//
.content-13 {
  position: relative;
}
.content-13.subscribe-form {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #a1a9b1;
}
.content-13.subscribe-form .span4 {
  text-align: right;
}

.content-13.subscribe-form input[type="text"],
.content-13.subscribe-form input[type="email"] {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  line-height: 59.99999999999999px;
  font-size: 50px;
  font-weight: normal;
  color: #bdc3c7;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  letter-spacing: -1px;
}
.content-13.subscribe-form input[type="text"]:-moz-placeholder,
.content-13.subscribe-form input[type="email"]:-moz-placeholder {
  color: #bdc3c7;
}
.content-13.subscribe-form input[type="text"]::-webkit-input-placeholder,
.content-13.subscribe-form input[type="email"]::-webkit-input-placeholder {
  color: #bdc3c7;
}
.content-13.subscribe-form input[type="text"].placeholder,
.content-13.subscribe-form input[type="email"].placeholder {
  color: #bdc3c7;
}
.content-13.subscribe-form input[type="text"]::-webkit-input-placeholder,
.content-13.subscribe-form input[type="email"]::-webkit-input-placeholder {
  font-weight: 600;
  letter-spacing: -1px;
}
.content-13.subscribe-form input[type="text"]:-moz-placeholder,
.content-13.subscribe-form input[type="email"]:-moz-placeholder {
  font-weight: 600;
  letter-spacing: -1px;
}
.content-13.subscribe-form input[type="text"]::-moz-placeholder,
.content-13.subscribe-form input[type="email"]::-moz-placeholder {
  font-weight: 600;
  letter-spacing: -1px;
}
.content-13.subscribe-form input[type="text"]:-ms-input-placeholder,
.content-13.subscribe-form input[type="email"]:-ms-input-placeholder {
  font-weight: 600;
  letter-spacing: -1px;
}
.content-13.subscribe-form input[type="text"]:invalid:focus,
.content-13.subscribe-form input[type="email"]:invalid:focus {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.content-13.subscribe-form .ani-placeholder {
  font-size: 50px;
  font-weight: normal;
  color: #bdc3c7;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.content-13.subscribe-form .btn {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  padding-top: 13px;
  padding-bottom: 12px;
}

.content-13.subscribe-form form {
  margin: 0;
  position: relative;
}
.content-13.subscribe-form input[type="text"] {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  line-height: 59.99999999999999px;
  font-size: 50px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  letter-spacing: -1px;
}
.content-13.subscribe-form input[type="text"]:-moz-placeholder {
  color: #ffffff;
}
.content-13.subscribe-form input[type="text"]::-webkit-input-placeholder {
  color: #ffffff;
}
.content-13.subscribe-form input[type="text"].placeholder {
  color: #ffffff;
}
.content-13.subscribe-form input[type="text"]::-webkit-input-placeholder {
  font-weight: 500;
  letter-spacing: -1px;
}
.content-13.subscribe-form input[type="text"]:-moz-placeholder {
  font-weight: 500;
  letter-spacing: -1px;
}
.content-13.subscribe-form input[type="text"]::-moz-placeholder {
  font-weight: 500;
  letter-spacing: -1px;
}
.content-13.subscribe-form input[type="text"]:-ms-input-placeholder {
  font-weight: 500;
  letter-spacing: -1px;
}
.content-13.subscribe-form .ani-placeholder {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  padding-left: 6px;
  line-height: 59.99999999999999px;
  font-size: 50px;
  font-weight: normal;
  color: #a1a9b1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.content-13.subscribe-form .btn {
  margin-top: 8px;
  width: 220px;
  max-width: 100%;
}
.content-13.subscribe-form .btn.btn-primary {
  background: #16a085;
}
.content-13.subscribe-form .btn.btn-primary:hover,
.content-13.subscribe-form .btn.btn-primary:focus {
  background: #24deb4;
}
.content-13.subscribe-form .btn.btn-primary:active,
.content-13.subscribe-form .btn.btn-primary.active {
  background: #138871;
}

//
// content-23
//
.content-23 .hero-unit .lead {
  font-size: 23px;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 33px;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.content-23 .hero-unit.hero-unit-bordered h1 {
  font-size: 49px;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 26px 26px 22px;
  font-weight: 700;
  letter-spacing: -2px;
}
.content-23 .hero-unit h1 {
  font-size: 53px;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 54px;
  font-weight: 700;
  letter-spacing: -2px;
  margin-bottom: 35px;
}
.content-23.learning-cook .control-btn {
  bottom: 85px;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.content-23.learning-cook .control-btn:hover,
.content-23.learning-cook .control-btn:focus,
.content-23.learning-cook .control-btn:active,
.content-23.learning-cook .control-btn.active {
  opacity: 1;
  filter: alpha(opacity=100);
}
.content-23 {
  position: relative;
  height: 800px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}
.content-23.v-center,
.content-23 .v-center {
  display: table;
  width: 100%;
}
.content-23.v-center > div,
.content-23 .v-center > div {
  display: table-cell;
  vertical-align: middle;
  margin-top: 0;
  margin-bottom: 0;
  float: none;
}
.content-23 .control-btn {
  width: 53px;
  height: 53px;
  line-height: 53px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  font-size: 19px;
  font-weight: normal;
  color: #7f8c8d;
  background: #ddd;
  color: black;
  opacity: 0.3;
  filter: alpha(opacity=30);
  position: absolute;
  left: 50%;
  bottom: 90px;
  margin-left: -26.5px;
}
.content-23 .control-btn:hover,
.content-23 .control-btn:focus,
.content-23 .control-btn.active {
  color: #ffffff;
}
.content-23 .control-btn:hover,
.content-23 .control-btn:focus,
.content-23 .control-btn:active,
.content-23 .control-btn.active {
  opacity: 1;
  filter: alpha(opacity=100);
}
.content-23 .hero-unit {
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: transparent;
}
.content-23 .hero-unit h1 {
  margin: 0 0 30px;
  font-size: 48px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 600;
  line-height: 56px;
}
.content-23 .hero-unit.hero-unit-bordered h1 {
  font-size: 46px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 500;
  border: 8px solid white;
  display: inline-block;
  margin: 0;
  padding: 30px 40px;
}

.content-23 {
  background-color: #1B1F23;
}
.content-23.custom-bg {
  background-color: white;
  background-image: asset_url('telte.jpg');
  background-position: bottom center;
  background-repeat: no-repeat, repeat-x;
  // background-image: url('../img/table.jpg') \9;
  background-repeat: no-repeat \9;
  background-position: top center \9;
  background-size: auto 100%;
  padding-bottom: 223px;
  height: 1006px;
  overflow: hidden;
}
.content-23.custom-bg .control-btn {
  bottom: 308px;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.content-23.custom-bg .control-btn:hover,
.content-23.custom-bg .control-btn:focus,
.content-23.custom-bg .control-btn:active,
.content-23.custom-bg .control-btn.active {
  opacity: 1;
  filter: alpha(opacity=100);
}
.content-23.custom-bg2 {
  // background: url('../img/img-2.jpg') 50% 50%;
  height: 665px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.content-23.custom-bg2 .control-btn {
  bottom: 50px;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.content-23.custom-bg2 .control-btn:hover,
.content-23.custom-bg2 .control-btn:focus,
.content-23.custom-bg2 .control-btn:active,
.content-23.custom-bg2 .control-btn.active {
  opacity: 1;
  filter: alpha(opacity=100);
}
