/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-material-design
 *= require sweet-alert
 *= require 'a1-default.css.scss'
 *= require 'a2-header.css.scss'
 *= require 'a3-footer.css.scss'
 *= require 'a7-content.css.scss'
 *= require 'a8-font-mouse.css.scss'
 *= require 'a9-media.css.scss'
 *= require 'icon-font.css'
 *= require 'framework_and_overrides.css.scss'
 *= require 'scaffolds.css.scss'
 *= require_self
 */

.checkbox label {font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: 300;}
.checkbox label span.check {border: 1px solid #aaa; }
.help-inline {
  color: #f44336;
}
