<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=320, initial-scale=1" />
  <title>Jobber Database Bruger Velkomst</title>
  <style type="text/css">
    @import url(http://fonts.googleapis.com/css?family=Lato:400);

    /* Take care of image borders and formatting */

    img {
      max-width: 600px;
      outline: none;
      text-decoration: none;
      -ms-interpolation-mode: bicubic;
    }

    a {
      text-decoration: none;
      border: 0;
      outline: none;
    }

    a img {
      border: none;
    }

    /* General styling */

    td, h1, h2, h3  {
      font-family: Helvetica, Arial, sans-serif;
      font-weight: 400;
    }

    body {
      -webkit-font-smoothing:antialiased;
      -webkit-text-size-adjust:none;
      width: 100%;
      height: 100%;
      color: #37302d;
      background: #ffffff;
    }

     table {
      border-collapse: collapse !important;
    }


    h1, h2, h3 {
      padding: 0;
      margin: 0;
      color: #0f9d58;
      font-weight: 400;
    }

    h1, h2 { color: #ffffff; opacity: 1.0}

    h3 {
      color: #777777;
      font-size: 24px;
    }

    .important-font {
      color: #f44336;
      font-weight: bold;
    }

    .hide {
      display: none !important;
    }

    .force-full-width {
      width: 100% !important;
    }

  </style>

 <style type="text/css" media="screen">
   @media screen {
      /* Thanks Outlook 2013! http://goo.gl/XLxpyl*/
     td, h1, h2, h3 {
       font-family: 'Lato', 'Helvetica Neue', 'Arial', 'sans-serif' !important;
     }
   }
 </style>

 <style type="text/css" media="only screen and (max-width: 480px)">
   /* Mobile styles */
   @media only screen and (max-width: 480px) {
     table[class="w320"] {
       width: 320px !important;
     }

     table[class="w300"] {
       width: 300px !important;
     }

     table[class="w290"] {
       width: 290px !important;
     }

     td[class="w320"] {
       width: 320px !important;
     }

     td[class="mobile-center"] {
       text-align: center !important;
     }

     td[class*="mobile-padding"] {
       padding-left: 20px !important;
       padding-right: 20px !important;
       padding-bottom: 20px !important;
     }

     td[class*="mobile-block"] {
       display: block !important;
       width: 100% !important;
       text-align: left !important;
       padding-bottom: 20px !important;
     }

     td[class*="mobile-border"] {
       border: 0 !important;
     }

     td[class*="reveal"] {
       display: block !important;
     }
   }
 </style>
 
</head>
<body class="body" style="padding:0; margin:0; display:block; background:#ffffff; -webkit-text-size-adjust:none" bgcolor="#ffffff">
<table align="center" cellpadding="0" cellspacing="0" width="100%" height="100%">
  <tr>
    <td align="center" valign="top" bgcolor="#ffffff"  width="100%">

    <table cellspacing="0" cellpadding="0" width="100%">
      <tr   background="http://spejderneslejr2017.dk/wp-content/uploads/2013/08/copy-banner1.jpg" bgcolor="#8b8284" valign="top" style="background: no-repeat url(http://spejderneslejr2017.dk/wp-content/uploads/2013/08/copy-banner1.jpg); background-color: #8b8284; background-position: center;">
        <td style="border-bottom: 3px solid #fcfcfc;" width="100%" >
          <center>
            <table cellspacing="0" cellpadding="0" width="500" class="w320">
              <tr>
                <td valign="top" style="height: 55px; padding:10px 0; text-align:left;" class="mobile-center">
                </td>
              </tr>
            </table>
          </center>
        </td>
      </tr>
			<tr>
			  <td style="border-bottom: 3px solid #fcfcfc;" width="100%" >
			    <center>
			      <table cellspacing="0" cellpadding="0" width="500" class="w320">
			        <tr>
			          <td valign="top" style="height: 55px; padding:10px 0; text-align:left;" class="mobile-center"  bgcolor:="#333333">
			            <h3>Spejdernes Lejr 2017</h3>
			            <p>Jobber Database Bruger tilmelding</p>
			          </td>
			        </tr>
			      </table>
			    </center>
			  </td>
			</tr>
      <tr style="">
				<td>
        <!-- <td background="http://spejderneslejr2017.dk/wp-content/uploads/2013/08/scenen2.png" bgcolor="#8b8284" valign="top" style="background: no-repeat url(http://spejderneslejr2017.dk/wp-content/uploads/2013/08/scenen2.png); background-color: #8b8284; background-position: center;"> -->
          <!--[if gte mso 9]>
          <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="mso-width-percent:1000;height:303px;">
            <v:fill type="tile" src="http://spejderneslejr2017.dk/wp-content/uploads/2013/08/scenen2.png" color="#8b8284" />
            <v:textbox inset="0,0,0,0">
          <![endif]-->
          <div>
            <center>
              <table cellspacing="0" cellpadding="0" width="530" height="303" class="w320">
                <tr>
                  <td valign="middle" style="vertical-align:middle; padding-right: 15px; padding-left: 15px; text-align:left;" height="303">

			                <table cellpadding="0" cellspacing="0" width="100%">
			                  <tr>
			                    <td style="text-align:center; font-size:30px; padding-bottom:20px;">
			                      Velkommen!
			                    </td>
			                  </tr>
			                  <tr>
			                    <td style="padding-bottom:20px;">
			                      Hej <%= @resource.name %>, <br>
			                      <br>
			                      Vi har oprettet dig som bruger, men før vi slipper dig løs, vil vi bede dig om at bekræfte din registrering, ved at trykke på knappen herunder. Den sender dig tilbage til siden, hvor du kan logge på.<br>
														<p>
															<strong>Vilkårene</strong> for at bruge jobs.sl17.dk er enkle: Du står til ansvar for dine handlinger, dit login er privat (dvs kun dit!), og det du laver kan ikke laves om!</p>
															<p>Når du trykker på knappen 'bekræft' bliver din konto aktiv og samtidig erklærer du dig enig i de nævnte vilkår.</p>
			                      <br>
			                    </td>
			                  </tr>
			                </table>

	                    <table cellspacing="0" cellpadding="0" width="100%">
	                    <tr>
	                    <td class="hide reveal">
	                      &nbsp;
	                    </td>
	                      <td style="width:150px; height:33px; background-color: #0f9d58;" >
	                        <div>
													<%= link_to 'Bekræft', confirmation_url(@resource, confirmation_token: @token), style: "background-color:#0f9d58;border-radius:4px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:13px;font-weight:bold;line-height:40px;text-align:center;text-decoration:none;width:150px;-webkit-text-size-adjust:none;" %>
													</div>
	                      </td>
	                      <td>
	                        &nbsp;
	                      </td>
	                    </tr>
	                  </table>

                  </td>
                </tr>
              </table>
            </center>
          </div>
          <!--[if gte mso 9]>
            </v:textbox>
          </v:rect>
          <![endif]-->
        </td>
      </tr>
      <tr class="force-full-width">
        <td valign="top" class="force-full-width">
          <center>
            <table cellspacing="0" cellpadding="0" width="500" class="w320">
              <tr>
                <td valign="top" style="border-bottom:1px solid #a1a1a1;">

                <table cellspacing="0" cellpadding="0" class="force-full-width">
                  <tr>
                    <td style="padding: 30px 0;" class="mobile-padding">


			                <table cellspacing="0" cellpadding="0" width="100%">
			                  <tr>
			                    <td class="left" style="padding-bottom:20px; text-align:left;">
			                      Dato: <%= l @resource.created_at %><br>
			                      <b>Bruger nummer:</b> SLdb-<%= "%05d" % @resource.id %>
			                    </td>
			                  </tr>
			                </table>

                    </td>
                  </tr>
                </table>


                </td>
              </tr>
              <tr>
                <td>

                  <table cellspacing="0" cellpadding="0" width="100%">
                    <tr>
                      <td class="mobile-padding" style="text-align:left;">
                      <br>
                        Tak fordi du tilmeldte dig. Har du problemer med at bruge Jobber databasen, så er du altid velkommen til at   <a style="color: #0f9d58;" href="mailto:WHERE">kontakte os</a>!
                      <br>
                      <br>
                      <h5>
												HR
												<br/>
                        Spejdernes Lejr 2017</h5>
                      <br>
                      <br>
                      <br>

                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </center>
        </td>
      </tr>
      <tr>
        <td style="background-color:#c2c2c2;">
          <center>
            <table cellspacing="0" cellpadding="0" width="500" class="w320">
              <tr>
                <td>
                  <table cellspacing="0" cellpadding="30" width="100%">
                    <tr>
                      <td style="text-align:center;">
                        <a href="#">
                          <img width="61" height="51" src="https://www.filepicker.io/api/file/vkoOlof0QX6YCDF9cCFV" alt="twitter" />
                        </a>
                        <a href="#">
                          <img width="61" height="51" src="https://www.filepicker.io/api/file/fZaNDx7cSPaE23OX2LbB" alt="google plus" />
                        </a>
                        <a href="#">
                          <img width="61" height="51" src="https://www.filepicker.io/api/file/b3iHzECrTvCPEAcpRKPp" alt="facebook" />
                        </a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <center>
                    <table style="margin:0 auto;" cellspacing="0" cellpadding="5" width="100%">
                      <tr>
                        <td style="text-align:center; margin:0 auto;" width="100%">
                           <a href="#" style="text-align:center;">
                             <h1>Spejdernes Lejr 2017</h1>
                           </a>
                        </td>
                      </tr>
                    </table>
                  </center>
                </td>
              </tr>
            </table>
          </center>
        </td>
      </tr>
    </table>
    </td>
  </tr>
</table>
</body>
</html>
