%nav.black{:role => "navigation"}
  .nav-wrapper.container
    %a#logo-container.brand-logo{:href => "#"}
      %img{:alt => "Tracks", :src => "sl2017.png"}/
    %ul.right.hide-on-med-and-down
      %li
        %a.modal-trigger.orange-text{:href => "#jobopslag"} Jeg mangler hænder
      %li
        %a.modal-trigger.orange-text{:href => "#jobtilmelding"} Jeg har en hånd
      %li
        %a{:href => "#"} L
    %ul#nav-mobile.side-nav.orange.lighten-4
      %li
        %a{:href => "#"} Jeg mangler hænder
      %li
        %a{:href => "#"} Jeg har en hånd
      %li
        %a{:href => "#"} L
    %a.button-collapse{"data-activates" => "nav-mobile", :href => "#"}
      %i.mdi-navigation-menu.orange-text
