:css
  .sl2017-logo { margin-top: 7px }
%nav.black{:role => "navigation"}
  .nav-wrapper.container
    %a#logo-container.brand-logo{:href => "/"}
      = image_tag "mint_100.png", class: "sl2017-logo"
    %ul.right.hide-on-med-and-down
      %li
        %a.modal-trigger.sl2017color-text.light{:href => "#jobopslag"} Jeg mangler hænder
      %li
        %a.modal-trigger.sl2017color-text.light{:href => "#jobtilmelding"} Jeg har en hånd
      %li
        %a{:href => "#"} L
    %ul#nav-mobile.side-nav.sl2017color.light
      %li
        %a{:href => "#"} Jeg mangler hænder
      %li
        %a{:href => "#"} Jeg har en hånd
      %li
        %a{:href => "#"} L
    %a.button-collapse{"data-activates" => "nav-mobile", :href => "#"}
      %i.mdi-navigation-menu.sl2017color-text
