:css
  .sl2017-logo { margin-top: 7px }

.navbar-fixed
  %nav
    .nav-wrapper.sl2017color
      %a#logo-container.brand-logo{:href => "/"}
        = image_tag "mint_100.png", class: "sl2017-logo"
      / .hide-on-med-and-down
      %ul.right.hide-on-med-and-down
        = render 'layouts/navigation_links'

      %a.button-collapse{ href:"#", :"data-activates"=>"nav-mobile"}
        %i.mdi-navigation-menu.sl2017color-text

      %ul#nav-mobile.side-nav.sl2017color.lighten-4{ style: "240px" }
        = render 'layouts/navigation_links'
