!!!
/
/ if template should build with Open Graph Protocol (opg.me)
/
/[if lt IE 7] <html.no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="dk" prefix="og: http://ogp.me/ns#">
/[if IE 7] <html.no-js lt-ie10 lt-ie9 lt-ie8" lang="dk" prefix="og: http://ogp.me/ns#">
/[if IE 8] <html.no-js lt-ie10 lt-ie9 " lang="dk" prefix="og: http://ogp.me/ns#">
/[if IE 9] <html.no-js lt-ie10" lang="dk" prefix="og: http://ogp.me/ns#">
/[if gt IE 9]><!
%html.no-js{lang: 'dk'}
	/ <![endif]>
	%head
		- current = 'ingen'
		= render 'layouts/head_v2'

	%body
		= render partial: 'layouts/navbar', locals: {current: current}
		= render 'layouts/messages'
		-#
		-#
		-# %header{ style: "padding-top: 0px;"}
		-# 	= render 'layouts/navigation'
		-# %main{:role => "main"}
		-# 	.message_container
		-# 		= render 'layouts/messages'
		= yield

		:coffeescript
			$(document).on 'ready page:load', ->
				pageOnLoad()
